# General
*.log
*.pyc
/.settings
/.env

# Doxygen
/Documentation/DoxygenCreator/doxygen-*.windows.x64.bin.zip
/Documentation/DoxygenCreator/doxygen.exe
/Documentation/DoxygenCreator/libclang.dll
/Documentation/DoxygenCreator/plantuml.jar
/Documentation/DoxygenCreator/Output_Doxygen
